<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   </head>
<body>
    <h5>Testing</h5>
    <form action="/testing" method="post" enctype=multipart/form-data>
        <input type="text" name="my_url" placeholder="Enter the URL">
        <button type="submit">Predict</button>
        {% if len1==1 : %}
         <br>
         <br>
         <p>Prediction: {{error}}</p>
            <p>The Tabular Format of the all the Features on the basis of which model is making Prediction for the URL <b> "{{my_url}}" </b></p>
            <!-- <div class="table table-dark"> -->
                <div class="container">
                    
                    <div class="row">
                    <div class="col">
                    <h4>Features</h4>
                    </div>

                    <div class="col">
                        <h4>Feature Extraction</h4>
                    </div>
                    </div>

                    {% for key in dic %}
                        
                        <div class="row">
                            <div class="col">
                                {{ key }}
                            </div>
            
                            <div class="col">
                                {{ dic[key] }}
                            </div>
                        </div>
                        
                    {% endfor %}

                </div>
            <!-- </div> -->
            <br>
            <p>Note that 1 represent the "Phishy" 0 represent the "Suspicious" and -1 represent the "Legitimate" in the Feature Extraction Column.</p>
        {% endif %}
    </form>
</body>

</html>